<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="basicstyle.css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <title>VRL Bus Reservation</title>
    <style>
        .navbar-toggler-right{
            float: right !important;
        }
       
    </style>
</head>
<body style="font-family:'Century Gothic'">
<nav class="navbar navbar-expand-lg navbar-light py-1" style="background-color:rgb(255, 213, 0)">
    <div class="nav-container w-100" >
        {% load static %}
        
        <a class="navbar-brand" href="{% url 'home' %}" style="color: black;"><img src="{%static 'mysite/images/logo.png' %}" alt="vrl-image" style="height: 30px;"><b> VIJAYANAND TRAVELS</b></a>
        
        <button class="navbar-toggler navbar-toggler-right ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" >
                <a class="nav-item nav-link active" href="{% url 'home' %}" style="color: black;">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{% url 'findbus' %}" style="color: black;">Find Bus</a>
                <a class="nav-item nav-link" href="{% url 'seebookings' %}" style="color: black;">See Bookings</a>
                <a class="nav-item nav-link" href="{% url 'contact' %}" style="color: black;">Contact Us</a>
                {% if request.user.is_active %}
                <a class="nav-item nav-link " href="{% url 'signout' %}" style="color: black;">Sign Out</a>
                {% else %}
                <a class="nav-item nav-link " href="{% url 'signup' %}" style="color: black;">Sign Up</a>
                {% endif %}


            </div>
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>